{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% block title %} Login {% endblock %}

{% block content %}
    {% if "post_delete" in request.build_absolute_uri %}
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-8 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h2 class="h4 text-danger">{{ object.title }} başlıklı gönderi silinecektir</h2>
                            </div>
                            <div class="form-group">
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="text-center">Silme İşlemini Onaylıyormusunuz ? </p>
                                    <!-- End of Form -->
                                    <button type="submit" class="btn btn-block btn-primary mt-5">Evet</button>
                                </form>
                                <a href="{% url "blog:anasayfa" %}">
                                    <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% elif "create-category" in request.build_absolute_uri %}
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h2 class="h4">Kategori Ekleyin</h2>
                            </div>
                            <div class="form-group">
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <label>{{ form.image.label }}</label>
                                    <div class="custom-file">
                                        {{ form.image }}
                                        <label class="custom-file-label">Kapak Fotosu Seçiniz</label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label> {{ form.title.label }}</label>
                                        {{ form.title }}
                                    </div>

                                    <p class="mt-4">Açıklama</p>
                                    {{ form.explain }}

                                    <!-- End of Form -->
                                    <button type="submit" class="btn btn-block btn-primary mt-5">Gönder</button>
                                </form>
                                <a href="{% url "blog:anasayfa" %}">
                                    <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% elif "update-post" in request.build_absolute_uri %}
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h2 class="h4">{{ posts.title }} Güncelle</h2>
                            </div>
                            <div class="form-group">
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <label>{{ form.cover.label }}</label>
                                    <div class="custom-file">
                                        {{ form.cover }}
                                        <label class="custom-file-label">Kapak Fotosu Seçiniz</label>
                                    </div>

                                    <label class="mt-4">Extra Resim Yükleme</label>
                                    <div class="custom-file">
                                        {{ form.extra_images }}
                                        <label class="custom-file-label">Extra Resim Yükleme</label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label> {{ form.title.label }}</label>
                                        {{ form.title }}
                                    </div>

                                    <div class="form-group mt-3">
                                        <label> {{ form.category.label }}</label>
                                        {{ form.category }}
                                    </div>

                                    <a href="{% url "blog:category_create" %}">
                                        <i class="fas fa-plus-circle text-success mr-3 ">Kategori Ekleyin</i>
                                    </a>

                                    <p class="mt-4">İçerik</p>
                                    {{ form.text }}
                                    {{ form.media }}

                                    <div class="form-group mt-3">
                                        <label> {{ form.status.label }}</label>
                                        {{ form.status }}
                                    </div>

                                    <!-- End of Form -->
                                    <button type="submit" class="btn btn-block btn-primary mt-5">Gönder</button>
                                </form>
                                <a href="{% url "blog:anasayfa" %}">
                                    <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h2 class="h4">Gönderi Ekleyin</h2>
                            </div>
                            <div class="form-group">
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <label>{{ form.cover.label }}</label>
                                    <div class="custom-file">
                                        {{ form.cover }}
                                        <label class="custom-file-label">Kapak Fotosu Seçiniz</label>
                                    </div>

                                    <label class="mt-4">Extra Resim Yükleme</label>
                                    <div class="custom-file">
                                        {{ form.extra_images }}
                                        <label class="custom-file-label">Extra Resim Yükleme</label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label> {{ form.title.label }}</label>
                                        {{ form.title }}
                                    </div>

                                    <div class="form-group mt-3">
                                        <label> {{ form.category.label }}</label>
                                        {{ form.category }}
                                    </div>

                                    <a href="{% url "blog:category_create" %}">
                                        <i class="fas fa-plus-circle text-success mr-3 ">Kategori Ekleyin</i>
                                    </a>

                                    <p class="mt-4">İçerik</p>
                                    {{ form.text }}
                                    {{ form.media }}

                                    <div class="form-group mt-3">
                                        <label> {{ form.status.label }}</label>
                                        {{ form.status }}
                                    </div>

                                    <!-- End of Form -->
                                    <button type="submit" class="btn btn-block btn-primary mt-5">Gönder</button>
                                </form>
                                <a href="{% url "blog:anasayfa" %}">
                                    <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

