{% extends "blog/layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Profil | {{ request.user }} {% endblock %}


{% block stylesheets %}

{% endblock %}

{% block content %}

    <main>

        <div class="section-header section-image bg-primary pb-0">
            <div class="container z-2">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                 role="alert">
                        {% endif %}

                    <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                    <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="row my-5 justify-content-center text-center">
                    <div class="col-lg-8">
                        {% if object.profile.avatar %}
                            <img src="{{ object.profile.avatar.url }}"
                                 class="rounded-circle img-thumbnail image-lg border-light shadow-inset p-3"
                                 alt="{{ object.first_name }}">
                        {% else %}
                            <img src="{% static "blog/assets/img/no_user.png" %}"
                                 class="rounded-circle img-thumbnail image-lg border-light shadow-inset p-3"
                                 alt="{{ object.first_name }}">
                        {% endif %}

                        <h1 class="h2 my-4">{{ object.first_name }} {{ object.last_name }} </h1>

                        <h2 class="h5 font-weight-normal text-gray mb-4">
                            <span class="fas fa-map-marker-alt mr-2"></span>
                            {{ object.profile.location|title }}
                        </h2>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            {% if user_social %}
                                {% for social in user_social %}
                                    <li>
                                        <a href="{{ social.url }}" target="_blank"
                                           aria-label="facebook social link"
                                           class="icon icon-xs icon-{{ social.social|lower }} mr-3">
                                            <span class="fab fa-{{ social.social|lower }}"></span>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}

                            {% endif %}
                        </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="section section-md bg-soft">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                            <ul class="list-group list-group-transparent list-group-flush list-group-borderless shadow-soft rounded border border-light mb-0">
                                <li class="list-group-item py-4">
                                    <div class="media">
                                    <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200">
                                        <span class="fas fa-globe-europe"></span></span>
                                        <div class="media-body d-block"><span class="h5">Bildiğim Diller:</span>
                                            <div class="text-gray mt-2">{{ object.profile.language }}</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item py-4">
                                    <div class="media"><span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                                            class="fas fa-fill-drip"></span></span>
                                        <div class="media-body d-block"><span class="h5">Yetenekler:</span>
                                            <div class="text-gray mt-2">
                                                <div>{{ object.profile.skills }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                            <ul class="list-group list-group-transparent list-group-flush list-group-borderless shadow-soft rounded border border-light mb-0">
                                <li class="list-group-item py-4">
                                    <div class="media"><span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                                            class="fas fa-birthday-cake"></span></span>
                                        <div class="media-body d-block"><span class="h5">Doğum Tarihi:</span>
                                            <div class="text-gray mt-2">{{ object.profile.birth_day }}</div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item py-4">
                                    <div class="media">
                                    <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200">
                                        <span class="fas fa-globe"></span></span>
                                        <div class="media-body d-block"><span class="h5">Sitem:</span>
                                            <div class="text-gray mt-2">
                                                <a href="{{ object.profile.online }}" target="_blank">Web Sitem</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <ul class="list-group list-group-transparent list-group-flush shadow-soft rounded border border-light mb-0">
                                <li class="list-group-item py-4">
                                    <div class="media"><span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                                            class="far fa-paper-plane"></span></span>
                                        <div class="media-body d-block"><span class="h5">Email:</span>
                                            <div class="text-gray mt-2">
                                                <span class="__cf_email__">{{ object.profile.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item py-4">
                                    <div class="media"><span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                                            class="fas fa-map-pin"></span></span>
                                        <div class="media-body d-block"><span class="h5">Yaşadığı Şehir:</span>
                                            <div class="text-gray mt-2">{{ object.profile.location|title }}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if post_list %}
            <section class="section-header bg-primary pb-0">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 text-center"><h1 class="display-2">Gönderilerim</h1>
                        </div>
                    </div>
            </section>
            <section class="section section-lg bg-primary">
                <div class="container">
                    <div class="row">
                        {% for post in post_list %}
                            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                                <div class="card bg-primary shadow-soft border-light p-4 rounded"><a
                                        href="{% url "blog:post_detail" post.category.title.lower|slugify post.slug post.pk post.author post.author.id post.created.date %}"><img
                                        src="{{ post.cover.url }}" class="card-img-top rounded"
                                        alt="our desk"></a>
                                    <div class="card-body p-0 pt-4"><a
                                            href="{% url "blog:post_detail" post.category.title.lower|slugify post.slug post.pk post.author post.author.id post.created.date %}"
                                            class="h4">
                                        {{ post.title }}
                                    </a>
                                        <div class="d-flex align-items-center my-4">
                                            {% if post.author.profile.avatar %}
                                                <img
                                                        class="avatar avatar-sm rounded-circle"
                                                        src="{{ post.author.profile.avatar.url }}"
                                                        alt="{{ post.author.username }}">
                                            {% else %}

                                            {% endif %}
                                            <h3 class="h6 small ml-2 mb-0">{{ post.author.username }}
                                                - {{ post.created|timesince }} önce paylaştı.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="d-flex justify-content-center w-100">
                        <div class="mt-5">
                            <nav aria-label="Blog page navigation">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" aria-label="ilk sayfa" title="ilk sayfa"
                                               href="?page=1">
                                                <span class="fas fa-angle-double-left"></span>
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link rounded" aria-label="önceki sayfa"
                                               title="önceki sayfa"
                                               href="?page={{ page_obj.previous_page_number }}">
                                                <span class="fas fa-angle-left"></span>
                                            </a>
                                        </li>

                                    {% endif %}
                                    {% for number in page_obj.paginator.page_range %}
                                        {% if page_obj.number == number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ number }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link rounded" aria-label="first link"
                                               title="sonraki sayfa"
                                               href="?page={{ page_obj.next_page_number }}">
                                                <span class="fas fa-angle-right"></span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" aria-label="first link" title="son sayfa"
                                               href="?page={{ page_obj.paginator.num_pages }}">
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </li>

                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" aria-label="first link"
                                               href="#">
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <div class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 mb-5 text-center"><h2>İletişim</h2>
                    </div>
                    <div class="col-12 col-lg-8">
                        <form method="post" class="card bg-primary shadow-soft border-light">
                            {% csrf_token %}
                            <div class="card-body px-5">
                                <div class="form-group">
                                    {% bootstrap_form form %}
                                </div>

                            </div>
                            <div class="card-footer text-center pt-0 pb-5">
                                <button type="submit" class="btn btn-primary rounded">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}


