{% load static %}
<!-- Core -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


<!-- Vendor JS -->
<script src="{% static "dashboard/assets/vendor/onscreen/dist/on-screen.umd.min.js" %}"></script>

<!-- Slider -->
<script src="{% static "dashboard/assets/vendor/nouislider/distribute/nouislider.min.js" %}"></script>

<!-- Smooth scroll -->
<script src="{% static "dashboard/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js" %}"></script>

<!-- Charts -->
<script src="{% static "dashboard/assets/vendor/chartist/dist/chartist.min.js" %}"></script>
<script src="{% static "dashboard/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js" %}"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-django-v1.0.10/vendor/countup.js/dist/countUp.umd.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-django-v1.0.10/vendor/apexcharts/dist/apexcharts.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static "dashboard/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js" %}"></script>

<!-- Moment JS -->
<script src="{% static "dashboard/assets/vendor/moment.min.js" %}"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static "dashboard/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js" %}"></script>
<script src="{% static "dashboard/assets/vendor/main.min.js" %}"></script>

<!-- Notyf -->
<script src="{% static "dashboard/assets/vendor/notyf/notyf.min.js" %}"></script>

<!-- Simplebar -->
<script src="{% static "dashboard/assets/vendor/simplebar/dist/simplebar.min.js" %}"></script>

<!-- Github buttons -->
<script src="{% static "dashboard/assets/vendor/buttons.js" %}"></script>

<!-- Jarallax -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Volt JS -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-django-v1.0.10/js/volt.js"></script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>