{% extends "dashboard/layouts/base.html" %}
{% load django_bootstrap5 %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
            {% else %}
                <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show" role="alert">
            {% endif %}

        <span class="alert-inner--icon">
              {% if message.tags == 'error' %}
                  <span class="far fa-thumbs-down"></span>
              {% elif message.tags == 'success' %}
                  <span class="far fa-thumbs-up"></span>
              {% else %}

              {% endif %}
        </span>

        <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

        </div>
        {% endfor %}
    {% endif %}

    {% if "create-post" in request.build_absolute_uri %}
        <div class="row">
            <div class="col-12 col-xl-12 mt-4">
                <div class="card card-body border-0 shadow mb-4">
                    <h2 class="h5 mb-4">Gönderi Oluştur</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group mt-3">
                            <label> {{ form.category.label }}</label>
                            {{ form.category }}

                        </div>

                        <div class="form-group m-3">
                            <a href="{% url "blog:category_create" %}" class="mt-3">
                                <i class="fas fa-plus-circle text-success mr-3 "></i>
                                <span class="text-dark">Kategori Ekleyin</span>
                            </a>
                            <a href="{% url "blog:categories" %}" class="mt-3 float-right">
                                <i class="fas fa-plus-circle text-success"></i>
                                <i class="fas fa-minus text-danger"></i>
                                <span class="text-dark">Kategori düzenle</span>
                            </a>
                        </div>

                        <div class="custom-file mt-3">
                            <label>{{ form.cover.label }}</label>
                            {{ form.cover }}
                        </div>

                        <div class="form-group mt-3">
                            <label> {{ form.title.label }}</label>
                            {{ form.title }}
                        </div>

                        <label class="mt-3"> İçerik</label>
                        <div class="form-group mt-1">
                            {{ form.text }}
                            {{ form.media }}
                        </div>
                        <div class="accordion col-12 col-sm-12 col-lg-12 mt-3 mx-auto" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        Extra gönderi fotoğrafları
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group mt-3">
                                            {{ form.extra_image1 }}
                                        </div>

                                        <div class="form-group mt-3">
                                            {{ form.extra_image2 }}
                                        </div>

                                        <div class="form-group mt-3">
                                            {{ form.extra_image3 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <label> {{ form.status.label }}</label>
                            {{ form.status }}
                        </div>

                        <!-- End of Form -->

                        <div class="mt-3">
                            <a href="{% url "blog:anasayfa" %}">
                                <button class="btn btn-danger mt-2 animate-up-2 float-lg-right float-right"
                                        type="button">Vazgeç
                                </button>
                            </a>
                            <button class="btn btn-gray-800 mt-2 animate-up-2 float-end" type="submit">Yayınla</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    {% elif "create-category" in request.build_absolute_uri %}
        <div class="row">
            <div class="col-12 col-xl-12 mt-4">
                <div class="card card-body border-0 shadow mb-4">
                    <h2 class="h5 mb-4">Kategori Oluştur</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <!-- End of Form -->
                        <div class="mt-3">
                            <button class="btn btn-gray-800 mt-2 animate-up-2 float-end" type="submit">Yayınla</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p class="alert-danger">Yetkili Değilsiniz!</p>
    {% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
