{% extends "dashboard/layouts/base.html" %}
{% load django_bootstrap5 %}
{% load plotly_dash %}
{% block title %} Dashboard | {{ request.user|title }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/dashboard/assets/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

    <div class="py-4">
        <div class="dropdown">
            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                Yeni İşlem
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                <a class="dropdown-item d-flex align-items-center" href="{% url "blog:post_create" %}">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
                    </svg>
                    Gönderi Ekle
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url "blog:category_create" %}">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path>
                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path>
                    </svg>
                    Kategori Ekle
                </a>
            </div>
        </div>
    </div>

    {% if request.user.is_superuser %}
        {% plotly_app name="Hits" ratio=0.3 %}
    {% endif %}

    {% plotly_app name="UserGraph" ratio=0.5 %}
    {% plotly_app name="UserTable" ratio=0.5 %}
    {% plotly_app name="post_table" ratio=0.5 %}
    {% plotly_app name="post_graph_bar" ratio=0.5 %}
    {% plotly_app name="hits_table_son" ratio=0.6 %}



{% endblock %}
