{% extends "dashboard/layout/base.html" %}
{% load static %}
{% load plotly_dash %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 container">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                         role="alert">
                {% endif %}

            <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

            <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}

        {% if 'kullanıcı' in request.path %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Dashboard</h1>
            </div>

            <label class="text-success">Gönderiler</label>
            {% plotly_app name="PostTable" ratio=1 %}

            {% plotly_app name="PostGraph" ratio=1 %}

        {% elif 'posts' in request.path %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Gönderilerim</h1>
            </div>

            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Başlık</th>
                        <th>Beğeni</th>
                        <th>Beğenmeme</th>
                        <th style="width: 10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for post in posts_list %}
                        {% if request.user.username == post.author.username %}
                            <tr>
                                <td>{{ post.created }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.likes.count }}</td>
                                <td>{{ post.dislike.count }}</td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="{% url 'blog:post_detail' post.category.title|slugify post.slug post.pk post.author post.author.id post.created.date %}"
                                           class="btn btn-link btn-primary" title="Görüntüle">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="{% url 'admin:index' %}blog/posts/{{ post.pk }}/change/"
                                           class="btn btn-link btn-warning" title="Düzenle">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-link btn-danger"
                                           title="Sil">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        {% elif 'messages' in request.path %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Mesajlarım</h1>
            </div>

            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Gönderen</th>
                        <th style="width: 10%">Email</th>
                        <th>Okunma Durumu</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for messages in messages_list %}
                        {% if request.user.username == messages.author.user.username %}
                            <tr>
                                <td>{{ messages.created }}</td>
                                <td>{{ messages.sender }}</td>
                                <td>{{ messages.contact_email }}</td>
                                {% if messages.is_read == True %}
                                    <td>Okundu</td>
                                {% else %}
                                    <td>Okunmadı</td>
                                {% endif %}
                                <td>
                                    <div class="form-button-action">

                                        <a href="{% url 'dashboard:message_detail' messages.sender messages.pk %}"
                                           class="btn btn-link btn-primary" title="Görüntüle">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="{% url 'dashboard:message_delete' messages.pk %}"
                                           class="btn btn-link btn-danger"
                                           title="Sil">
                                            <i class="fa fa-times"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        {% elif 'profile' in request.path %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Profil Bilgilerim</h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Temel Profil</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Kullanıcı Adı</th>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Email</th>
                                        <th>Katılma Tarihi</th>
                                        <th>Son Görülme</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for profile in profile_list %}
                                        <tr>
                                            <td>{{ profile.user }}</td>
                                            <td>{{ profile.first_name }}</td>
                                            <td>{{ profile.last_name }}</td>
                                            <td>{{ profile.email }}</td>
                                            <td>{{ profile.created }}</td>
                                            <td>{{ profile.user.last_login }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% elif 'social_media' in request.path %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Sosyal Medya Bilgilerim</h1>
            </div>

            <table class="table table-striped-columns table-hover table-primary">
                <thead>
                <tr>
                    <th scope="col">Sosyal Medya</th>
                    <th scope="col">Url</th>
                    <th scope="col">İşlem</th>
                </tr>
                </thead>
                <tbody>

                {% for social in socialmedia_list %}
                    <tr>
                        <td>{{ social.social|title }}</td>
                        <td>{{ social.url }}</td>

                        <td><a href="{% url 'dashboard:social_create' request.user %}">Ekle</a></td>
                        <td><a href="{% url 'dashboard:social_update' request.user social.pk %}">Güncelle</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </main>

{% endblock %}
