{% extends "dashboard/layout/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Mesajlarım{% endblock %}


{% block content %}
    {% if 'messages_detail' in request.path %}
        {% if object.receiver.username == request.user.username %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                             role="alert">
                    {% endif %}

                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h1 text-success">Mesajlarım</h1>
                </div>

                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{ object.created }}</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <p>Gönderen: <a
                                            href="{% url 'blog:profile' object.sender object.sender.pk %}">{{ object.sender }}</a>
                                    </p>
                                    <p>Email: {{ object.contact_email }}</p>
                                    <p>Mesaj: {{ object.content }}</p>
                                </div>
                                <a href="{% url 'dashboard:user_reply_message' object.pk object.sender object.sender.pk %}"
                                   class="btn btn-primary col-12">Cevapla</a>
                                <a href="{% url 'dashboard:message_delete' object.pk %}"
                                   class="btn btn-danger col-12 mt-2">Sil</a>
                                <a href="{% url 'dashboard:report_message' object.pk %}"
                                   class="btn btn-warning col-12 mt-2">Rahatsız edici içerik</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        {% endif %}
    {% elif 'user-reply-message' in request.path %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 container">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                             role="alert">
                    {% endif %}

                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Mesaj Cevaplama</h1>
            </div>

            <div class="row">
                <div class="col-md-12 col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ contact_object.created }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <p>Gönderen: <a
                                        href="{% url 'blog:profile' contact_object.sender contact_object.sender.pk %}">{{ contact_object.sender }}</a>
                                </p>
                                <p>Email: {{ contact_object.contact_email }}</p>
                                <p>Mesaj: {{ contact_object.content }}</p>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary col-12 mt-2">Gönder</button>
                            </form>
                            <a href="{% url 'dashboard:message_delete' contact_object.pk %}" class="btn btn-danger col-12 mt-2">Sil</a>
                            <a href="{% url 'dashboard:report_message' contact_object.pk %}"
                               class="btn btn-warning col-12 mt-2">Rahatsız edici içerik</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% elif 'user-sent-message' in request.path %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 container">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                             role="alert">
                    {% endif %}

                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1 text-success">Mesaj gönderme</h1>
            </div>

            <div class="row">
                <div class="col-md-12 col-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">

                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary col-12 mt-2">Gönder</button>
                            </form>
                            <a href="{% url 'dashboard:messages_list' request.user %}" class="btn btn-danger col-12 mt-2">İPTAL</a>
                            <a href="{% url 'dashboard:report_message' contact_object.pk %}"
                               class="btn btn-warning col-12 mt-2">Rahatsız edici içerik</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}
