{% extends "dashboard/layout/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Bildirimler{% endblock %}


{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1 text-success">Bildirimlerim</h1>
        </div>

        <div class="table ">
            <table id="add-row" class="display ">
                <thead>
                <tr>
                    <th>BİLDİRİM TÜRÜ</th>
                    <th>EMAİL</th>
                    <th>OKUNMA</th>
                    <th>YÖNETİCİ?</th>

                </tr>
                </thead>
                <tbody>

                {% for messages in messages_list %}
                    {% if request.user.username == messages.receiver.username %}
                        <tr>
                            <td>{{ messages.sender }}</td>
                            <td><a href="mailto:{{ messages.contact_email }}">{{ messages.contact_email }}</a></td>

                            {% if messages.is_read == True %}
                                <td>Okundu</td>
                            {% else %}
                                <td>Okunmadı</td>
                            {% endif %}
                            {% if messages.sender.is_staff == True %}
                                <td>Evet</td>
                            {% else %}
                                <td>Hayır</td>
                            {% endif %}
                            <td>
                                <div class="form-button-action">

                                    <a href="{% url 'dashboard:message_detail' messages.sender messages.pk %}"
                                       class="btn btn-link btn-primary " title="Görüntüle">
                                        <i class="fa fa-eye animate-hover"></i>
                                    </a>

                                    <a href="{% url 'dashboard:message_delete' messages.pk %}"
                                       class="btn btn-link btn-danger"
                                       title="Sil">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    {% endif %}

                {% endfor %}

                </tbody>
            </table>
        </div>
    </main>

{% endblock %}
