{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block navbar %}
    {% include 'blog/includes/navigation.html' %}
{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center mt-7">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-6 col-md-6 float-lg-left">

                    <div class="card bg-primary shadow-soft border-light p-4">
                        <p class="font-weight-bold">{{ title }}</p>
                        <div class="card-body">

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary float-right"> Kayıt ekle
                                </button>
                            </form>
                            <!-- End of Form -->
                            <a href="{% url 'bioinformatic:file_writing_format_select' request.user %}">
                                <button type="button" class="btn btn-primary float-left">&laquo; Geri</button>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-6  float-lg-right">

                    <div class="card bg-primary shadow-soft border-light p-4">

                        <div class="card-body">
                            <p class="font-weight-bolder ">{{ format|upper }} DOSYASI KAYITLARI</p>
                            <hr>
                            <div class="mb-2">
                                {% if rec_obj %}
                                    {% for foo in rec_obj %}

                                        <p class="text-small">

                                            {{ foo.molecule_id|truncatechars_html:40 }}

                                            <a href="{% url 'bioinformatic:file_create_rec_delete' foo.pk %}"
                                               class="float-right mr-2" title="Kaydı sil">
                                                <i class=" fas fa-minus text-danger"></i>
                                            </a>

                                        </p>

                                    {% endfor %}

                                    <p>Toplam {{ rec_obj.count }} kayıt bulundu.</p>

                                    <p>
                                        <a href="{% url 'bioinformatic:create_file' request.user format %}"
                                           class="float-right">
                                            <button type="button" class="btn btn-info"> DOSYAYI OLUŞTUR</button>
                                        </a>
                                    </p>

                                {% else %}
                                    <p>Henüz Kayıt Yok.</p>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
