{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}



<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block navbar %}
    {% include 'blog/includes/navigation.html' %}
{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="min-vh-50 d-flex bg-primary align-items-center mt-7 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">
                                {{ title }}
                            </h2>

                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% else %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% endif %}

                                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                                <span class="alert-inner--text">
                                        <strong>
                                            {% translate message %}
                                        </strong>
                                </span>

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                {% endfor %}
                            {% endif %}
                            </div>

                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button type="submit" class="btn btn-primary float-right"> ANALİZ &raquo;
                                    </button>
                                </form>
                                <!-- End of Form -->
                                <a href="{% url 'bioinformatic:home' %}">
                                    <button type="button" class="btn btn-primary float-left">&laquo; ANASAYFA</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
