{% extends "blog/layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Laboratuvar | Biyoinformatik {% endblock %}


{% block content %}

    <main>

        <div class="section-header pb-6 bg-primary overflow-hidden text-center border-bottom border-light">
            <div class="container z-2">
                <div class="row mb-4 justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7 mt-6">
                        <h1 class="display-4 mb-4">BİYOİNFORMATİK LABORATUVARI</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="section bg-primary text-dark section-lg">
            <div class="container">
                <div class="row mb-3">

                    <div class="container z-2">
                        <div class="row mb-4 ">
                            <div class="col-12 col-md-8 col-lg-7 mt-1">
                                <h1 class="display-4 mb-4 text-left border-bottom border-light">SEKANS İŞLEMLERİ</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:dna_seq_read' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/sequence.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="DNA SEKANS ANALİZİ">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">SEKANS ANALİZİ</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:dna_seq_translate' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/protein_sentezi.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="PROTEİN SENTEZİ">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">PROTEİN SENTEZİ</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:alignment_score' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Alignment Score">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">Alignment Score</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:dna_seq_slice' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Kmer ve Sekans Kesme">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">Kmer oluşturma</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:create_frame_seq' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Kmer ve Sekans Kesme">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">ÇERÇEVE SEKANS OLUŞTURMA</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:temp_melt' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Kmer ve Sekans Kesme">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">Primer erime sıcaklığı hesaplama</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="section bg-primary text-dark ">
            <div class="container">

                <div class="row mb-1">

                    <div class="container">
                        <div class="row mb-1 ">
                            <div class="col-12 col-md-8 col-lg-7">
                                <h1 class="display-4 mb-4 text-left border-bottom border-light">DOSYA İŞLEMLERİ</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:file_reading' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/file_read.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="DOSYA OKUMA">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">DOSYA OKUMA</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:file_writing_format_select' request.user %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/3810087.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="DOSYA YAZMA">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">DOSYA YAZMA</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:file_convert' %}">
                            <div class="card bg-primary border-light shadow-soft">

                                <img src="{% static 'bioinformatic/5103530.jpg' %}"
                                     class="card-img-top rounded-top">

                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">DOSYA DÖNÜŞTÜRME</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:pyhlo_tree' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Filogenetik Ağaç oluşturma">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">Filogeni ve Alignment Haritası</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:blast' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Kmer ve Sekans Kesme">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">BLAST</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:3d_molecule_view' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'bioinformatic/5138210.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Kmer ve Sekans Kesme">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">3D MOLEKÜL GÖRÜNTÜLEME</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:article_search' %}" target="_blank">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'dashboard/assets/img/examples/product6.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Pubmed MAKALE">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">PubMed GÜNCEL MAKALE ARAMA</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{% url 'bioinformatic:genome_diagram' %}" target="_blank">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'dashboard/assets/img/examples/product6.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="Genom Diyagram">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">Genom Diagram</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    

                </div>
            </div>
        </section>

    </main>

{% endblock %}
