{% extends "blog/layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Laboratuvar | Biyoinformatik {% endblock %}


{% block content %}
    <main>

        <div class="section-header pb-6 bg-primary overflow-hidden text-center border-bottom border-light">
            <div class="container z-2">
                <div class="row mb-4 justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7 mt-6">
                        <h1 class="display-4 mb-4">BİYOİNFORMATİK LABORATUVARI</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="section bg-primary text-dark section-lg">

            <div class="container">

                <div class="row mb-3">

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:sequence_analiz' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'blog/assets/img/bioinformatik/sequence.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">DNA SEKANS ANALİZİ</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="{% url 'bioinformatic:translation' %}">
                            <div class="card bg-primary border-light shadow-soft">
                                <img src="{% static 'blog/assets/img/bioinformatik/sequence.jpg' %}"
                                     class="card-img-top rounded-top"
                                     alt="PROTEİN SENTEZİ">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">PROTEİN SENTEZİ</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

    </main>
{% endblock %}
