{% load static %}
<!-- Core -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="{% static "blog/assets/vendor/headroom.js/dist/headroom.min.js" %}"></script>

<!-- Vendor JS -->
<script src="{% static "blog/assets/vendor/onscreen/dist/on-screen.umd.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/nouislider/distribute/nouislider.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/waypoints/lib/jquery.waypoints.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jarallax/dist/jarallax.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jquery.counterup/jquery.counterup.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js" %}"></script>
<script src="{% static "blog/assets/vendor/prismjs/prism.js" %}"></script>
<script async defer="defer" src="https://buttons.github.io/buttons.js"></script>
<!-- Neumorphism JS -->
<script src="{% static "blog/assets/js/neumorphism.js" %}"></script>
<!-- Lottie JS -->
<script src="{% static "blog/assets/js/lottie-player.js" %}"></script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins/exportpdf/plugindefinition.js" %}"></script>

<script type="text/javascript" src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>