{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% load plotly_dash %}

{% block title %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block navbar %}
    {% include 'blog/includes/navigation.html' %}
{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center mt-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-12 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-2">
                        <div class="card-body">
                            <div class="mb-4"><span class="h5">DNA SEKANS KESME SONUÇLARI</span></div>
                            <div class="mb-2">
                                <p>Başlangıç: {{ start }} </p>
                                <p>Bitiş: {{ stop }} </p>
                                <p>Bölge: <span class="text-small"> {{ result }} </span> </p>
                                {% plotly_app name="seq_slice" ratio=0.38 %}
                            </div>

                            <button type="button" onclick="window.print()" class="btn btn-primary float-right mr-3"><i
                                    class="fas fa-print mr-2"></i>YAZDIR
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
