{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% load plotly_dash %}

{% block title %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block navbar %}
    {% include 'blog/includes/navigation.html' %}
{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center mt-7">
        <div class="container">
            {% plotly_app name="seq_input" ratio=1 %}
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
