{% extends "blog/layouts/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% load plotly_dash %}

{% block title %} {{ object.description }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="min-vh-50 d-flex bg-primary align-items-center mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-12 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header pb-0">
                            <h2 class="h5">{{ object.description }}</h2>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% else %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% endif %}

                                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                                <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                {% endfor %}
                            {% endif %}

                            </div>
                            <div class="card-body">
                                <p>Laborant : {{ object.user }}</p>
                                <p>İşlem Tarihi : {{ object.created }}</p>
                                <p>Tanımı : {{ object.description }}</p>
                                {% if object.trans_table %}
                                    {% if table == "1" %}
                                        <p>Tablo : Standart </p>
                                    {% endif %}
                                    {% if table == "2" %}
                                        <p>Tablo : Omurgalı Mitokondri </p>
                                    {% endif %}
                                    {% if table == "3" %}
                                        <p>Tablo : Maya Mitokondri</p>
                                    {% endif %}
                                    {% if table == "4" %}
                                        <p>Tablo : Küf, Protozoon ve Kölenterat Mitokondri Kodu ve
                                            Mikoplazma/Spiroplasma</p>
                                    {% endif %}
                                    {% if table == "5" %}
                                        <p>Tablo : Omurgasız Mitokondri</p>
                                    {% endif %}
                                    {% if table == "6" %}
                                        <p>Tablo : Siliat, Dasikladas ve Heksamita Nükleer</p>
                                    {% endif %}
                                    {% if table == "9" %}
                                        <p>Tablo : Ekinoderm ve Yassı Solucan Mitokondri</p>
                                    {% endif %}
                                    {% if table == "10" %}
                                        <p>Tablo : Euplotid Nükleer </p>
                                    {% endif %}
                                    {% if table == "11" %}
                                        <p>Tablo : Bakteriyel, Arkeal ve Bitki Plastid Kodu, prokaryotik virüsler</p>
                                    {% endif %}
                                    {% if table == "12" %}
                                        <p>Tablo : Alternatif Maya Nükleer </p>
                                    {% endif %}
                                    {% if table == "13" %}
                                        <p>Tablo : Ascidian Mitokondri </p>
                                    {% endif %}
                                    {% if table == "14" %}
                                        <p>Tablo : Alternatif Yassı Solucan Mitokondri </p>
                                    {% endif %}
                                    {% if table == "16" %}
                                        <p>Tablo : Klorofis Mitokondri </p>
                                    {% endif %}
                                    {% if table == "21" %}
                                        <p>Tablo : Trematod Mitokondriyal </p>
                                    {% endif %}
                                    {% if table == "22" %}
                                        <p>Tablo : Scenedesmus obliquus Mitokondri </p>
                                    {% endif %}
                                    {% if table == "23" %}
                                        <p>Tablo : Thraustochytrium Mitokondri </p>
                                    {% endif %}
                                    {% if table == "24" %}
                                        <p>Tablo : Rhabdopleuridae Mitokondri </p>
                                    {% endif %}
                                    {% if table == "24" %}
                                        <p>Tablo : Rhabdopleuridae Mitokondri </p>
                                    {% endif %}
                                    {% if table == "25" %}
                                        <p>Tablo : Aday Bölüm SR1 ve Gracilibacteria </p>
                                    {% endif %}
                                    {% if table == "26" %}
                                        <p>Tablo : Pachysolen tannophilus Nükleer </p>
                                    {% endif %}
                                    {% if table == "27" %}
                                        <p>Tablo : Karyorelict Nükleer </p>
                                    {% endif %}
                                    {% if table == "28" %}
                                        <p>Tablo : Kondilostoma Nükleer </p>
                                    {% endif %}
                                    {% if table == "29" %}
                                        <p>Tablo : Mezodinyum Nükleer </p>
                                    {% endif %}
                                    {% if table == "30" %}
                                        <p>Tablo : Peritrich Nükleer </p>
                                    {% endif %}
                                    {% if table == "31" %}
                                        <p>Tablo : Blastocrithidia Nükleer </p>
                                    {% endif %}
                                    {% if table == "33" %}
                                        <p>Tablo : Cephalodiscidae Mitokondriyal UAA-Tyr </p>
                                    {% endif %}
                                {% endif %}
                                <p>Taksonomi : {{ object.taxonomy }}</p>
                                <p>Sekans :
                                <p style="text-align: justify">{{ object.seq }}</p></p>
                                <p>Sekans uzunluk : {{ object.seq_len }}</p>
                                <p>A : {{ A }}, T : {{ T }}, G : {{ G }}, C : {{ C }}</p>
                                {% if object.pro_seq %}
                                    <p>Protein : {{ object.pro_seq }}</p>
                                    <p>Protein uzunluk : {{ object.pro_seq_len }}</p>
                                {% endif %}
                                <p>%GC : {{ object.gc }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
